h1,
h2,
h3,
p {
	font-family: Helvetica;
}

h1 {
	background-image: url("img/pattern.webp");
	color: khaki;
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: white;
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
}

.titleBrush {
	background-color: mediumspringgreen;
}

.titleFrames {
	background-color: lightcoral;
}

.titlePaint {
	background-color: skyblue;
}

.itemPrice {
	color: blue;
	font-family: Helvetica;
	font-weight: bold;
}
